<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="signin-screen pull-right">
                <div class="space-bot text-center">
                    <h1>Sign In</h1>
                    <div class="divider"></div>
                </div>
                <form data-ng-submit="login()" name="forms.loginPassword" novalidate>
                    <p class="alert alert-danger" ng-show="vars.error" ng-model="vars.errormessage">Invalid username or password</p>
                    <div class="input-field col-md-12">
                        <input id="username" name="username" ng-model="vars.username" type="email" class="validate" required autofocus>
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col-md-12">
                        <input id="password" class="validate" data-ng-model="vars.password" name="password" type="password" value="">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-md-12">
                        <input id="rememberMe" type="checkbox" name="rememberMe" ng-model="user.rememberMe" value="true" checked>
                        <label for="rememberMe">Remember Me</label>
                    </div>
                    <div class="">
                        <button type="submit" class="waves-effect waves-light btn btn-block">
                            <i class="material-icons right">send</i> Login
                        </button>
                    </div>                 
                </form>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <span>Not a user yet? </span><a href="/user/registration"> <span> Create Account </span></a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a class="pull-right" href="/user/registration"> <span> Forgotten Password? </span></a>
                    </div>
                </div>
                <div class="row">
                      
                   
                    <div class="col-xs-12 col-md-12">
                        <h1 class="text-center center-block"> Sign In using Social Provider</h1>
                        <div class="row">
                                <div class="col-xs-6 col-md-6"> 
                                        <a href="/auth?provider=facebook"><button class="loginBtn loginBtn--facebook">Login with Facebook</button></a>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                         <a href="/auth?provider=google"><button class="loginBtn loginBtn--google">Sign in with Google</button></a>
                                </div>
                        </div>
                    </div>
                   
                </div>
              
            </div>

        </div>
    </div>
</div>